doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title 高雄旅遊資訊
    link(rel="stylesheet", href="css/main.css")
  body 
    .wrap 
      .kaoxiong
        header.header#header 
          h1 高雄旅遊資訊
          select#location.location(name="location") 
            option(value="---請選擇區域---") ---請選擇區域---
          .hotLocation
            h2 熱門行政區 
            .flexCenter
              button(value='鳳山區') 鳳山區
              button(value='前鎮區') 前鎮區
              button(value='美濃區') 美濃區
              button(value='小港區') 小港區
        main.showLocation
          h1.placeTitle 左營區
          ul.placeList
            li 
              .listBox 
                .titlePic
                  img(src="https://raw.githubusercontent.com/hexschool/KCGTravel/master/image/%E8%8B%93%E9%9B%85%E5%8D%80/%E5%85%89%E6%A6%AE%E7%A2%BC%E9%A0%AD%E8%88%B9%E9%9A%BB.jpg", alt="")
                .text 
                  h3 光榮碼頭
                  h4 苓雅區
                .info
                  p 
                    img(src="https://chiyum.github.io/ajaxmani/img/icons_clock.png", alt="") 
                    | 全天候開放
                  p 
                    img(src="https://chiyum.github.io/ajaxmani/img/icons_pin.png", alt="") 
                    | 高雄市苓雅區海邊路與新田路口
                  p 
                    img(src="https://chiyum.github.io/ajaxmani/img/icons_phone.png", alt="") 
                    | 886-7-7995678
                  p 
                    img(src="https://chiyum.github.io/ajaxmani/img/icons_tag.png", alt="") 
                    | 免費參觀
            
          .pageNumber 
        footer
          h3 高雄旅遊網 
          h3 
            a(href="#" alt="高雄市政府") 資料來源：高雄市政府 
          .backBtn  
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js") 
    script(src="js/main.js") 